@using Microsoft.AspNetCore.Identity
@using RJ35.Data.Identity

@inject SignInManager<RJ35WebUser> SignInManager
@inject UserManager<RJ35WebUser> UserManager

<!DOCTYPE html>
<html lang="en" data-mdb-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RJ35</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
            <div class="container-fluid">
                <button data-mdb-collapse-init class="navbar-toggler" type="button"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i data-lucide="menu"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a class="navbar-brand mt-2 mt-lg-0" href="/">
                        <h4 class="text-light">
                            <h6>RJ</h6>35
                        </h4>
                    </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home Page</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a data-mdb-dropdown-init class="dropdown-toggle hidden-arrow nav-link" href="#"
                                    id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                                    Installations
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end mt-2"
                                    aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Installations" asp-action="Cable" asp-route-id="">Cable</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Installations" asp-action="Racks">Racks</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Installations" asp-action="RackMaterial">Rack Material</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Devices" asp-action="Devices">Devices</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <a data-mdb-dropdown-init class="dropdown-toggle hidden-arrow nav-link" href="#"
                                    id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                                    Accessories
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end mt-2"
                                    aria-labelledby="navbarDropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" href="#">Some news</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another news</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        @if (Context.Session.GetString("userRole") == "admin") {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="">Dashboard</a>
                            </li>
                        }
                    </ul>
                </div>

                <form class="d-flex input-group w-auto me-4">
                    <input type="search" class="form-control" placeholder="Type query" aria-label="Search" />
                    <button data-mdb-ripple-init class="btn btn-outline-primary" type="button"
                        data-mdb-ripple-color="dark">
                        Search
                    </button>
                </form>

                <div class="d-flex align-items-center">
                    @if (SignInManager.IsSignedIn(User)) {
                        <a asp-controller="Cart" asp-action="Index" class="link-secondary me-3 text-light">
                            <i data-lucide="shopping-cart"></i>
                        </a>

                        @await Component.InvokeAsync("NotificationsDropdown")


                        <div class="dropdown">
                            <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                href="#" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                                <div class="rounded-circle overflow-hidden d-flex" style="height: 27px; width: 27px;">@await Component.InvokeAsync("ProfileImage")</div>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="navbarDropdownMenuAvatar">
                                <li><h6 class="dropdown-header">Hi @UserManager.GetUserName(User)!</h6></li>
                                
                                <li>
                                    <a class="dropdown-item" href="#">My profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Settings</a>
                                </li>
                                <li>
                                    <form asp-controller="Authentication" asp-action="Logout" method="post" role="form" class="">
                                        <button type="submit" class="dropdown-item">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    } else {
                        <a asp-controller="Authentication" asp-action="Login" class="link-secondary text-light">
                            <i data-lucide="log-in"></i>
                        </a>
                    }                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<!-- <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - RJ35 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> -->
    <footer class="bg-body-tertiary text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-body" href="https://github.com/nerexbcd" target="_blank">Nerexbcd</a>
        </div>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/mdb.umd.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        lucide.createIcons();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
