@model RJ35.Models.Cable

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Cable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CableType" class="control-label"></label>
                <input asp-for="CableType" class="form-control" />
                <span asp-validation-for="CableType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetersAvaliable" class="control-label"></label>
                <input asp-for="MetersAvaliable" class="form-control" />
                <span asp-validation-for="MetersAvaliable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceMeter" class="control-label"></label>
                <input asp-for="PriceMeter" class="form-control" />
                <span asp-validation-for="PriceMeter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
