@{
    ViewData["Title"] = "404 Page Not Found";
}

<div class="position-relative" style="min-height: inherit;">
    <div class="position-absolute top-50 start-50 translate-middle rounded-5 bg-dark-subtle p-4 w-50 text-center">
        <h1>Whoops! Error 404</h1>
        <h4>Looks like the page your looking for could not be found.</h4>
        <a asp-controller="Home" asp-action="Index" asp-route-id="" class="btn btn-primary mt-3">Return to the Home Page</a>
    </div>
</div>

